@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

section {
    margin-top: 20px;
}

.container {
    margin-top: 3%;
}

.navbar {
    margin-top: 30px;
    margin-left: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
    margin-right: 200px;
}


.fixed-bottom-right {
    position: fixed;
    margin-right: 100px;
    border-radius: 50%;
    bottom: 70px;
    right: 160px;
    width: 40px;
    font-size: 40px;
}

#kakao-talk-channel-chat-button {
    position: fixed;
    bottom: 80px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
    margin-right: 100px;
}

.logo {
    padding-top: 70px;
    padding-left: 200px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background-color: #f1f1f1; /* Adjust the background color as needed */
    padding: 10px;
    color: lightslategray;
}

.footer-info {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}