<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathport</title>

    <link rel="stylesheet" href="../css/login.css">
    <script defer src="../js/login.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="sign-up-container">
            <form>
                <h2>계정 생성하기</h2>

                <div class="sign-up-content">
                <input id="mail" type="email" placeholder="이메일">
                    <button id="mail-btn">인증하기</button>

                <input type="password" placeholder="비밀번호">
                <input type="password" placeholder="비밀번호 확인">
                <input type="text" placeholder="이름">
                <input id="nick-name" type="text" placeholder="닉네임">
                    <button id="nick-name-btn">중복확인</button>

                <div class="gender-content">
                <input id="g_male" type="radio" name="gender" value="male">
                    <label for="g_male">남자</label>
                <input id="g_female" type="radio" name="gender" value="female">
                    <label for="g_female">여자</label>
                </div>

                <input type="text" placeholder="생년월일 ex) 901205">
                </div>

                <button class="form_btn">이메일 회원가입</button>

            </form>
        </div>
        <div class="sign-in-container">
            <form>
                <div id="logo">
                        <img src="../img/pplogo.png" alt="로고" width="80" height="80" >
                </div>
                <div class="social-links">
                    <div>
                        <img src="../img/google.png" alt="구글" width="26" height="26">
                    </div>
                    <div>
                        <img src="../img/kakao.png" alt="카카오" width="25" height="25">
                    </div>
                    <div>
                        <img src="../img/naver.png" alt="네이버" width="26" height="26">
                    </div>
                </div>
                <span>또는 이메일로 시작하기</span>
                <input type="email" placeholder="이메일">
                <div class="password-container">
                    <div>
                        <input type="password" placeholder="비밀번호">
                    </div>

                    <div>
                        <button id="togglePasswordBtn" class="password-toggle-btn" onclick="togglePasswordVisibility()">&#x1F441;</button>
                    </div>
                </div>

                <button class="form_btn">이메일 로그인</button>
                <p class="tos">계속 진행할 경우, pathport의 이용약관에 동의한 것으로 간주됩니다.</p>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-left">
                <div class="overlay-left-text">
                <h2>계정을 생성하셨나요?</h2>
                <p>로그인하여 pathport와 함께해보세요.</p>
                </div>
                <button id="signIn" class="overlay_btn">로그인</button>
                <p class="tos">계속 진행할 경우, pathport의 이용약관에 동의한 것으로 간주됩니다.</p>
            </div>
            <div class="overlay-right">
                <button id="closeButton" class="overlay-close-btn">&times;</button>
                <h2>아직 계정을 생성하지 않으셨나요?</h2>
                <p>pathport와 함께 행복한 여행을 시작해보세요.</p>
                <button id="signUp" class="overlay_btn">이메일 회원가입</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>